<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{style.css}"></li>
</head>
<body>

    <div th:insert="~{menutemplate::navbar}"></div>

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies ultricies faucibus. <br>
        Pellentesque posuere mi libero, eget mollis nulla bibendum sed. <br>
        Sed venenatis iaculis turpis ac congue. Nullam dignissim, nisi quis blandit mollis. <br>
        Etiam lacinia dolor lacus, sit amet faucibus nisi porta a. <br>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. <br>
        Praesent eu commodo lorem. Etiam consectetur lorem lorem, in ullamcorper dui porta sodales. <br>
        Quisque ut gravida quam, id venenatis nulla. <br>
        Morbi at lectus egestas, luctus tellus ut, tempor lacus. In mattis at leo ut ullamcorper.</p>

    <h3>Contact Us</h3>
    <p>Aa street</p><br>
    <p>1070 Anderlecht</p><br>
    <p>Tel. 01 234 56 78</p><br>
</body>
</html>