<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Derdehands</title>
    <link rel="stylesheet" th:href="@{style.css}"></li>
</head>
<body>

    <div th:insert="~{navbarTemplate::navbar}"></div>

    <h1>Home</h1>


    <table id="indexTbl" class="display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">
            <td> <span th:text="${product.name}"/>
                <br>
                <ul>
                    <li th:each="note : ${product.userList}">
                        <span th:text="${note.description}"></span>
                    </li>
                </ul>
            </td>
            <td> <span th:text="${product.askingprice}"/> </td>
        </tr>
        </tbody>
    </table>


    <div class="button-container">
        <button th:field="submit" id="myButton">
            <a th:href="@{~/newProduct}" th:text="#{navbar.newProduct}">New Product</a>
        </button>
    </div>

    <div th:insert="~{footertemplate::footer}"></div>
</body>
</html>